*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    margin: 0 auto;
}

h1{
    text-align: center;
    margin: 2rem;
}

article {
    display: flex;
    flex-direction: column;
}

div {
    margin: 1rem;
    -webkit-box-shadow: 0px 0px 15px -5px #000000; 
    box-shadow: 0px 0px 15px -5px #000000;
}

div h3 {
    padding: 25px;
}

ul {
    padding: 0 0 1rem 1rem;
}


li {
    list-style: none;
    padding: 5px;
    font-size: 5rem;
    font-size: 15px;
}

input[type=radio]{
    transform: scale(1.2);
    margin-right: 5px;
}

.fas {
    display: none;
}

label:hover i {
    display: inline-block;
    padding-left: 4rem;
	animation: slide-left 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
}
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
    }
  }

button {
    margin: auto;
    padding: 20px 30px;
    font-size: 1rem;
}